@{
    // Initialize general page variables
    var customerNo = "";
    var customerName = Request.QueryString["customerName"];

    // Credentiale folosite in Web.config pentru accesarea serviciului Web
    var Username = System.Configuration.ConfigurationManager.AppSettings["Username"];
    var Password = System.Configuration.ConfigurationManager.AppSettings["Password"];

    // Conectare la serviciu web
    ARGGOBEST.WebCustomers.Customers_ARGGOBEST_Service wsWebCustomer = new ARGGOBEST.WebCustomers.Customers_ARGGOBEST_Service();
    wsWebCustomer.Credentials = new NetworkCredential(Username, Password);

    // Creare filtru pentru citirea informatiilor din serviciu web
    ARGGOBEST.WebCustomers.Customers_ARGGOBEST_Filter wsWebCustomerFilterNo = new ARGGOBEST.WebCustomers.Customers_ARGGOBEST_Filter();
    wsWebCustomerFilterNo.Field = ARGGOBEST.WebCustomers.Customers_ARGGOBEST_Fields.No;
    wsWebCustomerFilterNo.Criteria = customerNo;

    ARGGOBEST.WebCustomers.Customers_ARGGOBEST_Filter wsWebCustomerFilterName = new ARGGOBEST.WebCustomers.Customers_ARGGOBEST_Filter();
    wsWebCustomerFilterName.Field = ARGGOBEST.WebCustomers.Customers_ARGGOBEST_Fields.Name;
    wsWebCustomerFilterName.Criteria = "@*" + customerName + "*";

    ARGGOBEST.WebCustomers.Customers_ARGGOBEST_Filter[] wsWebCustomerFilter = new ARGGOBEST.WebCustomers.Customers_ARGGOBEST_Filter[] { wsWebCustomerFilterNo, wsWebCustomerFilterName };
    ARGGOBEST.WebCustomers.Customers_ARGGOBEST[] webCustomer = wsWebCustomer.ReadMultiple(wsWebCustomerFilter, null, 0);

}


<!DOCTYPE html>
<html>
<title>ARGGOBEST</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="~/css/style.css"/>
<link rel="stylesheet" href="~/css/nandi.css" />
<body>

    <!-- Header -->
    <h1 hidden>ARGGOBEST</h1><br />

    <!-- Navbar -->
    <div class="w3-top">
        <div class="w3-bar w3-black w3-card">
            <a href="~/Customer/List" class="w3-bar-item w3-button w3-padding-large">Clienti</a>
            <a href="~/Projects/Proiecte.cshtml" class="w3-bar-item w3-button w3-padding-large">Proiecte</a>
            <a href="~/Tasks/taskuri.cshtml" class="w3-bar-item w3-button w3-padding-large">Taskuri</a>
            <a href="~/Rapoarte/Rapoarte.cshtml" class="w3-bar-item w3-button w3-padding-large">Raportare</a>
            <a href="http://arggo.consulting/" class="w3-padding-large  w3-hide-small w3-right"><img src="~/Images/arggo-new.png" /></a>
        </div>
    </div>

<br/>

    <!-- The Content Section -->

    <script language="javascript">
        function btnCauta_Post() {
        }

    </script>
    <script src="~/Scripts/common.js"></script>

    <div class="w3-container w3-content w3-center" style="max-width:800px" id="band">
        <h2 class="w3-wide">Clienţi</h2><br />
        <form method="get" id="searchForm">
            <table style="background:white">
                <tr>
                    <td>
                        <label for="customerName" @if (!ModelState.IsValidField("customerName")) { <text> class="error-label" </text>    }>Nume client</label>
                        <input type="text" id="customerName" name="customerName" value="@customerName" />
                        <input type="submit" value="Filtreaza" onclick="btnCauta_Post()" />
                    </td>
                    <td align="right"><a href="~/Customer/Add?"><img src="~/Images/Add-Contact.png" /></a></td>
                </tr>
            </table>

            <br />
            <table style="width:100%" class="table_raport">
                <tr>
                    <th style="background-color:#00AB6C">Nume client</th>
                    <th style="background-color:#00AB6C" colspan="2">Oraş client</th>
                </tr>
                @foreach (ARGGOBEST.WebCustomers.Customers_ARGGOBEST customer in webCustomer)
                {
                    <tr>
                        <td><a href="Card?customerNo=@HttpUtility.UrlEncode(customer.No)">@customer.Name</a></td>
                        <td>@customer.City</td>
                    </tr>
                }

            </table>
        </form>
        <!-- End Page Content -->
    </div>
    <!-- Footer -->
    <footer class="w3-container w3-center w3-opacity w3-xlarge">
        <p class="w3-medium">Powered by <a href="http://arggo.consulting/" target="_blank">ARGGO</a></p>
    </footer>
</body>
</html>
