<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ARGGOBEST.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <appSettings>
    <add key="webPages:Version" value="3.0"/>
    <add key="Username" value="WSUSER09"/>
    <!-- ID-ul primit pentru conectarea la serviciul web -->
    <add key="Password" value="84DwdvnSp99gtn+ldPFYVrhY/dfAeSX1+XKfDw16xgs="/>
    <!-- Access key-ul pentru conectarea la serviciul web -->
  </appSettings>
  <applicationSettings>
    <ARGGOBEST.Properties.Settings>
      <setting name="ARGGOBEST_Customers_ARGGOBEST_Customers_ARGGOBEST_Service" serializeAs="String">
        <value>http://nav2018.arggo.consulting:7052/ARGGOBEST/WS/Cronus09/Page/Customers_ARGGOBEST</value>
      </setting>
      <setting name="ARGGOBEST_WebCustomers_Customers_ARGGOBEST_Service" serializeAs="String">
        <value>http://nav2018.arggo.consulting:7052/ARGGOBEST/WS/Cronus09/Page/Customers_ARGGOBEST</value>
      </setting>
      <setting name="ARGGOBEST_consulting_arggo_nav2018_Project_Users_ARGGOBEST_Service" serializeAs="String">
        <value>http://nav2018.arggo.consulting:7052/ARGGOBEST/WS/Cronus09/Page/Project_Users_ARGGOBEST</value>
      </setting>
      <setting name="ARGGOBEST_consulting_arggo_nav2018_Projects_ARGGOBEST_Service" serializeAs="String">
        <value>http://nav2018.arggo.consulting:7052/ARGGOBEST/WS/Cronus09/Page/Projects_ARGGOBEST</value>
      </setting>
      <setting name="ARGGOBEST_consulting_arggo_nav2018_Roles_ARGGOBEST_Service" serializeAs="String">
        <value>http://nav2018.arggo.consulting:7052/ARGGOBEST/WS/Cronus09/Page/Roles_ARGGOBEST</value>
      </setting>
      <setting name="ARGGOBEST_Task_Logs_ARGGOBEST_Task_Logs_ARGGOBEST_Service" serializeAs="String">
        <value>http://nav2018.arggo.consulting:7052/ARGGOBEST/WS/Cronus09/Page/Task_Logs_ARGGOBEST</value>
      </setting>
      <setting name="ARGGOBEST_Task_Users_ARGGOBEST_Task_Users_ARGGOBEST_Service" serializeAs="String">
        <value>http://nav2018.arggo.consulting:7052/ARGGOBEST/WS/Cronus09/Page/Task_Users_ARGGOBEST</value>
      </setting>
      <setting name="ARGGOBEST_Task_ARGGOBEST_Task_ARGGOBEST_Service" serializeAs="String">
        <value>http://nav2018.arggo.consulting:7052/ARGGOBEST/WS/Cronus09/Page/Task_ARGGOBEST</value>
      </setting>
      <setting name="ARGGOBEST_Users_ARGGOBEST_Users_ARGGOBEST_Service" serializeAs="String">
        <value>http://nav2018.arggo.consulting:7052/ARGGOBEST/WS/Cronus09/Page/Users_ARGGOBEST</value>
      </setting>
    </ARGGOBEST.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
			</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
